* {
    font-family: 'Poppins', sans-serif;
}
html {
    height: 100%;
}
body {
    background-color: #fffaff;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}
header {
    display: flex;   
    width: 1100px;
    margin: 0 auto 4em;
}
.logo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 40px 2em 0 0;
}
#menu-icon {
    display: none;
    cursor: pointer;
}
#navItens ul{
    display: flex;
    margin: 7vh 0 0 40px;
}
.nav-item {
    font-size: 16px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    margin-right: 2em;
}
.nav-item a{
    text-decoration: none;
    color: #191B40;
}
.nav-item a:hover {
    color: #F2A74B;
    transition: 0.3s;
}
main {
    box-sizing: border-box;
    width: 1100px;
    margin: 0 auto;
    padding: 0 4em;
    flex: 1 0 auto;
    font-family: 'Montserrat', sans-serif;
}
.dedicatoria {
    line-height: 1.3em;
    margin: 0 0 3.5em;
    width: 100%;
}
.container {
    padding: 0 4em;
    display: flex;
}
.turing-img {
    width: 200px;
    height: 300px;
    margin: 6.5em 3em 0 0;
}
figcaption {
    margin-top: 0.5em;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    color: #5a5a5a;
}
.container h1 {
    font-size: 22px;
    font-weight: bold;
    color: #191B40;
    margin-bottom: 1em;
}
.text-type {
    line-height: 1.3em;
    margin-bottom: 1.5em;
    width: 100%;
}
footer {
    box-sizing: border-box;
    background: #492073;
    font-family: 'Poppins', sans-serif;
    width: 100%;
    margin-top: 3em;
}
.footer {
    text-align: center;
    color: #fffaff;
    padding: 2em;
}
.footer a {
    text-decoration: none;
    color: #F2A74B;
    font-weight: 500;
    flex-shrink: 0;
}

@media screen and (max-width: 1150px) {
    header {
        display: flex;
        align-items: center;
        width: 680px;
        padding: 0 2em;
        margin: 0 auto 4em;
    }
    main {
        box-sizing: border-box;
        width: 800px;
        padding: 0 2em;
    }
}
@media screen and (max-width: 810px) {
    header {
        position: relative;
    }
    #navItens {
        width: min-content;
        display: none;
        position: absolute;
        z-index: 9998;
        top: 46px;
        right: 5.5vh;
        background: #F2A74B;
    }
    #navItens ul {
        box-sizing: border-box;
        display: block;
    }
    #navItens li {
        margin-bottom: 1em;
        text-align: right;
        color: #191B40;
    }
    #menu-icon {
        display: block;
        position: fixed;
        right: 20px;
        z-index: 9999;
        background: #F2A74B;
        color: #191B40;
        border-radius: 2px;
        margin: 1.2em 1em 0 0;
    }
    .turing-img {
        width: 130px;
        height: 200px;
    }
    main {
        width: 100%;
    }
}
@media screen and (max-width: 810px) {
    figure {
        display: none;
    }
}